body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #eef1f5;
}

.top-nav {
    background: #003366;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #02294d;
    position: fixed;
    left: 0;
    top: 60px;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background: #00509d;
}

.main-content {
    margin-left: 230px;
    padding: 40px;
}

.card, .result-card {
    width: 450px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #ccc;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #999;
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1f7e34;
}

.prediction {
    color: #003366;
    margin-top: 15px;
}
