body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #eef1f5;
}

/* TOP NAVBAR */
.top-nav {
    width: 100%;
    background: #003366;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #02294d;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 70px;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #07406e;
}

.sidebar a:hover {
    background: #00509d;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 230px;
    margin-top: 90px;
    padding: 30px;
}

/* PROFILE CARD */
.profile-card {
    width: 500px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #ccc;
}

.profile-card h2 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 12px;
    background: #f4f6f9;
    width: 40%;
}

td {
    padding: 12px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}
