body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #eef1f5;
}

/* TOP NAVBAR */
.top-nav {
    width: 100%;
    background: #003366;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #02294d;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 70px;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #07406e;
}

.sidebar a:hover {
    background: #00509d;
}

.main-content {
    margin-left: 230px;
    margin-top: 90px;
    padding: 20px;
}

h2 {
    color: #003366;
    font-size: 26px;
}

/* SUBJECT TABLE */
table {
    width: 95%;
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 0px 8px #ccc;
    border-radius: 10px;
}

th {
    background: #003366;
    color: white;
    padding: 12px;
    font-size: 16px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.btn {
    padding: 8px 14px;
    background: #0066cc;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn:hover {
    background: #004999;
}
