body {
    margin: 0;
    font-family: Arial;
    background: #eef1f5;
}

/* TOP NAVBAR */
.top-nav {
    width: 100%;
    background: #003366;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0px 2px 5px #999;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #02294d;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 70px;
    box-shadow: 2px 0px 6px #ccc;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #07406e;
}

.sidebar a:hover {
    background: #00509d;
    transition: 0.3s;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 230px;
    padding: 100px 20px 20px 20px;
}

.header-title {
    font-size: 26px;
    margin-bottom: 15px;
    color: #003366;
}

/* BOX CARDS */
.box {
    display: inline-block;
    width: 17%;
    background: #003366;
    color: white;
    padding: 20px;
    margin: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #ccc;
    text-align: center;
}

/* CHARTS */
.charts-container {
    margin-top: 30px;
}

.chart-box {
    width: 40%;
    display: inline-block;
    background: white;
    padding: 20px;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #ccc;
}

.chart-title {
    text-align: center;
    color: #003366;
}

canvas {
    width: 100% !important;
    height: 350px !important;
}

/* BOTTOM SECTION */
.bottom-section {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

/* TOPPER TABLE */
.topper-title {
    color: #003366;
    text-align: center;
    margin-bottom: 15px;
}

.topper-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

.table-head {
    background: #003366;
    color: white;
}

.topper-table td, .topper-table th {
    padding: 10px;
}

.alt {
    background: #f4f7fb;
}

/* WEAK STUDENT */
.weak-title {
    color: #cc0000;
    text-align: center;
    margin-bottom: 10px;
}

.weak-desc {
    font-size: 14px;
    color: #444;
    text-align: center;
}

.weak-list {
    line-height: 1.9;
    font-size: 16px;
    color: #333;
    padding-left: 20px;
}

.low {
    color: #cc0000;
}

.weak-box {
    background: #fff3f3;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 13px;
    color: #a60000;
}
