body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #eef1f5;
}

/* TOP NAV */
.top-nav {
    background: #003366;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #02294d;
    position: fixed;
    top: 60px;
    left: 0;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background: #00509d;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 240px;
    padding: 40px;
}

/* CARDS */
.card, .summary-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #ccc;
    margin-bottom: 30px;
}

h2 {
    color: #003366;
    margin-bottom: 15px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #003366;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* RESULT STATUS */
.status {
    font-size: 18px;
    font-weight: bold;
}

.status.pass {
    color: green;
}

.status.fail {
    color: red;
}
