body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #eef1f5;
}

/* TOP NAVBAR */
.top-nav {
    width: 100%;
    background: #003366;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #02294d;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 70px;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #07406e;
}

.sidebar a:hover {
    background: #00509d;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 230px;
    margin-top: 90px;
    padding: 30px;
}

h2 {
    color: #003366;
    margin-bottom: 20px;
}

/* TABLE */
table {
    width: 90%;
    background: white;
    border-collapse: collapse;
    box-shadow: 0px 0px 8px #ccc;
}

th {
    background: #003366;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f2f6fb;
}

/* EMPTY MESSAGE */
.no-data {
    color: #777;
    font-size: 16px;
}
